*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 30px;
padding-top: 50px;
}
button{
  padding: 8px 20px;
  border: none;
  border-left: 4px solid #222;
  border-right: 4px solid #222;
  font-size: 20px;
  color: #108070;
  font-weight: 700;
  background: #fff;
  cursor: pointer;
  transition: all 0.4 ease;
}

button:hover{
  padding: 8px 36px;
  border-left: 8px solid #222;
  border-right: 8px solid #222;
  letter-spacing: 3px;
}
button:active{
  background-color: #1c816e;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  letter-spacing: 0.5px;
}

.meme-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 600px;
  padding: 15px 80px;
  margin-bottom: 40px;
  background-color: rgb(247, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 16px;
}
.meme-image{
  width: 100%;
}